:root {
  --color-cabecera: #5E81D1;
  --color-barrainformativa: #F87500;
  --color-listaarticulos: #FF8D27;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: var(--color-listaarticulos);
}

.cabecera {
  background-color: var(--color-cabecera);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  min-height: 150px;
}

.cabecera h1 {
  margin: 0;
}

.navegacion ul {
  padding: 0;
  margin: 0;
}

.navegacion ul li {
  text-decoration: none;
  display: inline;
  font-size: 1.1rem;
}

.navegacion ul li:hover {
  text-decoration: underline;
}

.pagina-actual {
  font-weight: bold;
}
ul{
  list-style: none;
}

.color-cabecera{
  background-color: #5e81d1;
}

.barra-informativa{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #f87500;
  border-top: 1px solid #da6600;
  border-bottom: 2px solid #da6600;
}

.seccion-principal{
  background-color: #ff8d27;
  flex: 1;
}

.seccion-principal h2 {
  font-size: 200%;
  font-weight: 500;
}

.elemento-lista{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.elemento-lista:hover{
  background-color: #c16b1e;
  color: #eee;
}

.tachado{
  text-decoration: line-through;
}

.hr{
  color: #ccc;
}

.precio-final{
  display: flex;
  justify-content: flex-end;
}

.lista-articulos {
  display: flex;
  flex-direction: column;
  flex: 1;
}


.formulario-articulo label {
  font-size: 140%;
  display: block;
  margin: 10px 0px;
}

.formulario-articulo input {
  height: 50px;
  width: 300px;
  font-family: inherit;
}

.divisa {
  display: inline !important;
}

.formulario-articulo button {
  height: 50px;
  width: 150px;
  background-color: var(--color-cabecera);
  color: white;
  display: block;
  margin: 10px 0px;
  font-family: inherit;
}

.icono{
  color: #111;
  font-size: 30px;
}

.icono_x{
  font-size: 20px;
  margin-left: 10px;
}

@media (max-width: 320px) {
  .cabecera h1 {
    font-size: 1.2rem;
  }
  .cabecera nav ul li {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .cabecera h1 {
    font-size: 1.3rem;
  }
  .cabecera nav ul li {
    font-size: 0.9rem;
  }
}
